$font-main: 'Poppins', sans-serif;
$color-black: #000000;
$color-white: #ffffff;
$color-grey: #B5B7C0;
$color-purple: #5932EA;
$color-green-light: #16C098;

.green-light {
  color: $color-green-light;
}

html,
body {
  box-sizing: border-box;
  height: 100%;
}

*,
*::before,
*::after {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
  outline: transparent;
}

* {
  scrollbar-color: #5932EA $color-grey;
  scrollbar-width: thin;

  &::-webkit-scrollbar {
    height: 8px;
    width: 6px;
    background-color: $color-grey;
    border-radius: 10px;
  }

  &::-webkit-scrollbar-thumb {
    background-color: #5932EA;
    border-radius: 10px;
  }
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

input[type='search']::-ms-clear {
  display: none;
}

input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-results-button,
input[type="search"]::-webkit-search-results-decoration {
  -webkit-appearance: none;
}

a {
  text-decoration: none;
}

ul,
li {
  margin: 0;
  padding: 0;
  list-style: none;
}

body {
  font-family: $font-main;
  font-weight: 500;
  font-size: 14px;
  color: $color-black;
}

.wrapper {
  position: relative;
  display: flex;
  height: 100vh;
  background-color: #FAFBFF;
}

.no-scroll {
  overflow: hidden;
}

.aside {
  display: flex;
  flex-direction: column;
  height: 100%;
  min-width: 306px;
  max-width: 306px;
  padding: 36px 28px;
  background-color: $color-white;
  box-shadow: 0px 10px 60px 0px rgba(226, 236, 249, 0.5);

  &__btn {
    display: none;
    width: 30px;
    height: 80px;
    align-items: center;
    justify-content: center;
    color: #9197b3;
    border: none;
    border-radius: 0 80% 80% 0;
    background-color: $color-white;
    box-shadow: 6px 0 6px 0 rgba(0, 0, 0, .20);
    cursor: pointer;
  }
}

.main {
  height: 100%;
  width: 100%;
  padding: 41px 71px;
  overflow-y: auto;
}

.page-title {
  font-size: 22px;
  font-weight: 600;

  &+.section {
    margin-top: 51px;
  }
}

.section {
  overflow: hidden;
  padding: 30px 40px;
  background-color: $color-white;
  box-shadow: 0px 10px 60px rgba(226, 236, 249, 0.50);
  border-radius: 30px;
}

.title {
  &+.subtitle {
    margin-top: 7px;
  }
}

.subtitle {
  font-style: 14px;
  font-weight: 400;
}

.overlay {
  display: none;
  position: fixed;
  z-index: 20;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);

  &.active {
    display: block;
    cursor: pointer;
  }
}

@media (max-width: 1279px) {
  .aside {
    position: fixed;
    top: 0;
    left: -306px;
    z-index: 21;
    box-shadow: unset;
    transition: all linear 0.3s;

    &.active {
      left: 0;

      .aside__btn::before {
        transform: rotate(180deg);
      }
    }

    &__btn {
      display: flex;
      position: absolute;
      top: 30%;
      right: -29px;
    }
  }

  .main {
    padding: 32px;
  }

  .page-title+.section {
    margin-top: 32px;
  }

  .section {
    padding: 16px;
    border-radius: 16px;
  }
}

@media (max-width: 768px) {
  .aside {
    padding: 16px;
  }

  .main {
    padding: 20px;
  }

  .page-title+.section {
    margin-top: 20px;
  }

  .title,
  .subtitle {
    text-align: center;
  }
}

@media (max-width: 500px) {
  .aside {
    left: calc(-100% + 40px);
    min-width: unset;
    max-width: calc(100% - 40px);
    width: 100%;
  }
}